/* Тёмная тема (принудительная) */
.page.theme-dark {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-color: #000028;
  --button-color: #FF0070;
  --decor-color: #FF0070;
  --link-shadow: #FF0070;
  --button-color-hover: rgba(255, 0, 112, 0.40);
  --page-background-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028;
}

.theme-dark .decorated-zone__element {
  display: inline;
}