/* Светлая тема (принудительная) */
.page.theme-light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --button-color: #353430;
  --decor-color: #353430;
  --link-shadow: #FF8DCB;
  --button-color-hover: rgba(50, 49, 45, 0.40);
  --page-background-image: url(../images/cover-image-light.png);
  --page-background-color: #FFF1F7;
}

.theme-light .decorated-zone__element {
  display: none;
}

.theme-light .header__title,
.theme-light .footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Светлая тема (системная) */
@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --button-color: #353430;
    --decor-color: #353430;
    --link-shadow: #FF8DCB;
    --button-color-hover: rgba(50, 49, 45, 0.40);
    --page-background-image: url(../images/cover-image-light.png);
    --page-background-color: #FFF1F7;
  }
  
  .decorated-zone__element {
    display: none;
  }
  
  .header__title,
  .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}