/* Базовые стили (Mobile First) */
.page {
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: 130%;
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
}

/* Общие стили секций */
.section {
  display: grid;
  gap: var(--gap);
  padding: 0 10px;
  margin-bottom: var(--section-gap);
}

.section__title {
  color: var(--decor-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.article,
.card,
.tip {
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
}

.article__title,
.card__title,
.tip__title {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.article__text,
.card__text,
.tip__text {
  color: var(--text-color);
}

/* Ссылки */
.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/* Декоративные уголки */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.decorated-zone__element {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--decor-color);
  font-size: var(--font-size);
  line-height: 138%;
}

.decorated-zone__element::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  filter: drop-shadow(0px 0px 4px var(--decor-color));
}

/* Шапка */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 100vb;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--button-color);
  font-size: var(--font-size);
  background: transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border-color: var(--button-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  max-inline-size: 355px;
  margin-block-start: 55px;
}

/* Основной контент */
.main {
  margin-block-start: 40px;
}

/* Секция причин */
.reasons .section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Секция отвлекающих факторов */
.distractions .section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Секция советов */
.tips__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 20px;
}

/* Галерея */
.gallery {
  margin-bottom: 40px;
}

.gallery__title {
  margin-bottom: 10px;
}

.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Подвал */
.footer {
  display: grid;
  place-items: center;
  min-block-size: 100vb;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Планшетная версия */
@media (min-width: 768px) {
  .section {
    padding: 0 20px;
  }
  
  .header {
    padding: 20px;
  }
  
  .header__theme-menu {
    margin-block-start: 170px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  
  .header__text {
    max-inline-size: 364px;
    margin-block-start: 162px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  
  .decorated-zone__element {
    top: 20px;
    right: 48px;
  }
  
  .main {
    margin-block-start: 60px;
  }
  
  .reasons {
    grid-template-columns: 1fr 2fr;
  }
  
  .distractions .section__title {
    max-inline-size: 236px;
  }
  
  .tips {
    grid-template-columns: 1fr 2fr;
  }
  
  .gallery {
    margin-bottom: 60px;
  }
  
  .gallery__title {
    margin-bottom: 20px;
  }
  
  .gallery__container {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .footer {
    padding: 20px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Десктопная версия */
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    margin-inline-start: 20px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
  
  .header__text {
    max-inline-size: 491px;
    margin-block-start: 114px;
  }
  
  .reasons .section__content {
    gap: 20px;
  }
  
  .distractions .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .distractions .section__title {
    max-inline-size: 315px;
  }
  
  .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}